html{
	width:100%
}
body{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	position:relative;
	background-color:#EDEDED;
	font-family:'Diverda Serif W01 Light Italic','DiverdaSerifW01-LightIt';
	font-size:8pt
	}
	p,h1,h2,h3,h4,h5,h6,ul{
		margin:0px;padding:0px
		}
		article,aside,details,footer,header,hgroup,nav,section,small{
			display:block;
			margin:0px;
			padding:0px
			}
			sub,sup{
				font-size:75%;
				line-height:0;
				position:relative;
				vertical-align:baseline
				}
				sup{
					top:-0.5em
					}
					sub{
						bottom:-0.25em
						}a{ 
							text-decoration:none
							}a:focus{ 
								outline:none
								}a img{ 
									border:none
									}address{ 
										font-style:normal
}small{ 
  font-size:1em
}a.button{
  display:inline-block;
  position:relative
}a.button img{
  position:absolute;
  left:0px;top:0px
}a.button img.over{
   display:none
}a.button:hover{ 
  padding-top:0px
}a.button:hover img{ 
  display:none
}a.button:hover img.over{ 
  display:block
}.scrollWrapper:focus{ 
  outline:none
}.opacity a.button img.over{
  display:block;	opacity:0
}.opacity a.button:hover img{ 
  display:block
}.opacity a.button:hover img.over{ 
  opacity:1
}.csstransitions a{
  -webkit-transition:color 0.2s ease-out;-moz-transition:color 0.2s ease-out;-o-transition:color 0.2s ease-out;transition:color 0.2s ease-out
}.opacity.csstransitions a.button img{-webkit-transition:opacity 0.2s linear;-moz-transition:opacity 0.2s linear;-o-transition:opacity 0.2s linear;transition:opacity 0.2s linear}#site{width:100%;height:100%;position:relative;min-width:1024px}#header{background-color:#FFFFFF;height:100px;position:relative;z-index:1000}#header header{height:100px;position:relative;margin:0 auto}nav.site ul{list-style-type:none}#header header nav.site ul{position:relative;padding-right:28px;background-color:#FFF;z-index:10}#header header nav.site ul li{color:#333;font-family:'Helvetica W01 Bold';text-transform:uppercase;line-height:12px}#header header nav.site ul li a:link{ color:#898989}#header header nav.site ul li a:visited{ color:#898989}#header header nav.site ul li a:hover{ color:#FFA647}#header header nav.site ul li a:active{ color:#FFA647}.subnavContainer{	float:left}#header header nav.site ul.subnav{	z-index:1;	right:400px;	height:12px;	padding-top:11px;	padding-bottom:10px;	margin-top:-10px}.opacity #header header nav.site ul.subnav{ opacity:0}.csstransitions #header header nav.site ul.subnav{-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out}#header header nav.site ul.subnav.show,#header header nav.site ul.subnav.fixed{ right:0px}.opacity #header header nav.site ul.subnav.show,.opacity #header header nav.site ul.subnav.fixed{ opacity:1}#header header nav.site ul.subnav li{ float:left}#header header nav.site ul.subnav li.separator{	background-color:#E2DED5;	margin:3px 4px;	height:6px;	width:1px}#header header nav.social{position:absolute;right:0px;bottom:0px;line-height:0px;font-size:0px}#header header nav.social a{display:inline-block;width:50px;height:50px}#header .outer{display:table;overflow:hidden;height:100%;position:relative;z-index:2}#header .middle{display:table-cell;vertical-align:middle}#page{position:relative;margin:0 auto;background-color:#FFFFFF}#pageShim{	width:100%;	height:100%;	position:absolute;	left:0px;	top:0px;	z-index:9000;	display:none}#pageShim #background{	position:absolute;	left:0;	top:0;	width:100%;	height:100%;	z-index:0}.rgba #pageShim #background{	background-color:rgba(255,255,255,0.85)}.no-rgba.opacity #pageShim #background{	background-color:#FFF;	opacity:0.85}.no-rgba.no-opacity.directxfilters #pageShim #background{	background-image:url("/images/trans_filler.gif");	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#D8FFFFFF,endColorstr=#D8FFFFFF)";	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D8FFFFFF,endColorstr=#D8FFFFFF)}.no-rgba.no-opacity.no-directxfilters #pageShim #background{	background-color:#FFF}#pageShim #loadingMsg{	width:106px;	height:106px;	position:absolute;	left:50%;	top:50%;	margin-top:-53px;	margin-left:-53px}.borderradius #pageShim #loadingMsg{	background-color:#000;	-webkit-border-radius:53px;	-moz-border-radius:53px;	border-radius:53px}.no-borderradius #pageShim #loadingMsg{	background-image:url("/images/loading_bg.png");	background-repeat:no-repeat}#loadingMsg p{	font-size:14px;	color:#FFF;	position:relative;	top:40px;	text-align:center}#loadingMsg #dots{	text-align:center;	position:relative;	top:40px;	left:-3px}#loadingMsg img{	margin-left:3px}#header header,#page,#pageFooter footer{	width:1000px}#page.h1{ height:200px}#page.h2{ height:400px}#page.h3{ height:600px}#page.h4{ height:800px}#page.h5{ height:1000px}#page.h6{ height:1200px}#page.h7{ height:1400px}#page.h8{ height:1600px}#page.h9{ height:1800px}#page.h10{ height:2000px}#page.h11{ height:2200px}#page.h12{ height:2400px}#page.h13{ height:2600px}#page.h14{ height:2800px}#page.h15{ height:3000px}#page.h16{ height:3200px}#page.h17{ height:3400px}#page.h18{ height:3600px}#page.h19{ height:3800px}#page.h20{ height:4000px}#page.h21{ height:4200px}#page.h22{ height:4400px}#page.h23{ height:4600px}#page.h24{ height:4800px}#page.h25{ height:5000px}#page.h26{ height:5200px}#page.h27{ height:5400px}#page.h28{ height:5600px}#page.h29{ height:5800px}#page.h30{ height:6000px}#pageFooter{width:100%;height:500px;position:relative;font-size:10pt;clear:both}#pageFooter p{ margin-bottom:1em}#pageFooter .background{position:absolute;left:0px;top:0px;z-index:-1;width:100%;height:100%}#pageFooter footer{margin:0 auto;height:500px;position:relative}#footerLeft{background-image:url("http://www.rodgerstownsend.com/images/footer_book.jpg");background-repeat:no-repeat;background-color:#5B5B5B;background-position:right top;color:#CCCCCC;width:60%;height:100%;position:absolute;left:0px;top:0px;z-index:1000}#footerLeft .background{left:auto;right:0px;width:auto}#footerLeftWrapper{ margin-top:106px}#footerLeftWrapper address{ margin-top:8px}#footerLeftWrapper a:link{ color:#CCCCCC}#footerLeftWrapper a:visited{ color:#CCCCCC}#footerLeftWrapper a:hover{ color:#FFA647}#footerLeftWrapper a:active{ color:#FFA647}#footerLeftWrapper hr{	margin:16px 50px 16px 0px;	border:none;	border-top:1px solid #6F6F6B}#footerLeftWrapper nav.site ul{ margin-bottom:44px}#footerLeftWrapper nav.site ul li{ line-height:14px}#footerLeftWrapper .copyright{ margin-top:38px;float:left}#footerLeftWrapper .termsLink{	margin-top:38px;	margin-right:50px;	float:right;	color:#999999}#footerLeftWrapper .termsLink a:link{ color:#999999}#footerLeftWrapper .termsLink a:visited{ color:#999999}#footerLeftWrapper .termsLink a:hover{ color:#FFA647}#footerLeftWrapper .termsLink a:active{ color:#FFA647}#footerRight{background-color:#FFFFFF;color:#8D8C8C;width:40%;height:100%;position:absolute;left:60%;top:0px;z-index:1000}#footerRightWrapper{ position:relative}#footerRightWrapper h1{color:#666666;font-family:'Helvetica W01 Bd Cn';font-size:14px;font-weight:normal;font-style:normal;text-transform:uppercase}#footerRightWrapper h1 a{ color:inherit}#footerRightWrapper hr{border:none;border-top:1px solid #D7D7D7;width:70px;margin-left:2px;margin-top:14px;margin-bottom:22px;text-align:left}#footerRightWrapper p{ line-height:1.3em}#footerRight .moduleInner{	margin:103px 60px;	height:auto;	width:auto;	background:none}.ui-helper-clearfix:after{ content:".";display:block;height:0;clear:both;visibility:hidden}.ui-helper-clearfix{ display:inline-block}* html .ui-helper-clearfix{ height:1%}.ui-helper-clearfix{ display:block}

he{
  font-weight: normal;
  font-size: 30px;
  font-family: fantasy;
  color: black;
  position: left;
}
.jspContainer
{
overflow:hidden;
position:relative;
}

.jspPane
{
position:absolute;
}

.jspVerticalBar
{
position:absolute;
top:0;
right:0;
width:6px;
height:100%;
}

.jspHorizontalBar
{
position:absolute;
bottom:0;
left:0;
width:100%;
height:6px;
display:none;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
margin:0;
padding:0;
}

.jspCap
{
display:none;
}

.jspHorizontalBar .jspCap
{
float:left;
}

.jspTrack
{
background:#e1e1e1;
position:relative;
}

.jspDrag
{
background:#666666;
position:relative;
top:0;
left:0;
cursor:pointer;
}

.jspVerticalBar .jspTrack
{
width:2px;
left:2px;
}
.jspVerticalBar .jspDrag
{
width:2px;
left:0px;
}

.jspHorizontalBar .jspTrack
{
float:left;
height:2px;
top:2px;
}
.jspHorizontalBar .jspDrag
{
float:left;
height:2px;
top:0px;
}

.jspArrow
{
text-indent:-20000px;
display:block;
cursor:pointer;
}

.jspArrow.jspDisabled
{
cursor:default;
}

.jspVerticalBar .jspArrow
{
height:3px;
}

.jspHorizontalBar .jspArrow
{
width:3px;
float:left;
height:100%;
}

.jspVerticalBar .jspArrow:focus
{
outline:none;
}

.jspArrowUp{
background-image:url("/images/scroll_arrow_up.png");
background-position:center center;
background-repeat:no-repeat;
padding-bottom:4px;
}

.jspArrowDown{
background-image:url("/images/scroll_arrow_down.png");
background-position:center center;
background-repeat:no-repeat;
padding-top:5px;
}

.jspArrowLeft{
background-image:url("/images/scroll_arrow_left.png");
background-position:center center;
background-repeat:no-repeat;
padding-right:4px;
}

.jspArrowRight{
background-image:url("/images/scroll_arrow_right.png");
background-position:center center;
background-repeat:no-repeat;
padding-left:5px;
}

.jspCorner
{
background:#eeeef4;
float:left;
height:100%;
}


* html .jspCorner
{
margin:0 -3px 0 0;
}
.module{display:block;position:absolute;font-size:8pt;z-index:20}.moduleInner{position:absolute;overflow:hidden;width:100%;height:100%;background-color:#FFF}.moduleInner .imgWrapper{ height:100%;width:100%}.no-csstransitions .moduleInner .imgWrapper{ position:relative}.module.r1{ top:0px}.module.c1{ left:0px}.module.r1.c1{	z-index:9999}.module nav hr.separator{display:inline-block;border:none;width:1px;height:100%;background-color:#898989}.module .background{position:absolute;z-index:0;width:100%;height:100%}.module .outer{display:table;overflow:hidden;text-align:center;width:100%;height:100%;position:relative;z-index:2}.module .middle{display:table-cell;vertical-align:middle}.module .moduleLink{display:block;width:100%;padding:50px 0px;background-image:url("/images/trans_filler.gif")}.csstransitions .module .moduleInner .imgWrapper{-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out}.module.w1{ width:200px}.module.w2{ width:400px}.module.w3{ width:600px}.module.w4{ width:800px}.module.w5{ width:1000px}.module.h1{ height:200px}.module.h2{ height:400px}.module.h3{ height:600px}.module.h4{ height:800px}.module.h5{ height:1000px}.module.h6{ height:1200px}.module.h7{ height:1400px}.module.h8{ height:1600px}.module.h9{ height:1800px}.module.h9{ height:1800px}.module.c1,.moduleInner.c1{ left:0px}.module.c2,.moduleInner.c2{ left:200px}.module.c3,.moduleInner.c3{ left:400px}.module.c4,.moduleInner.c4{ left:600px}.module.c5,.moduleInner.c5{ left:800px}.module.r1,.moduleInner.r1{ top:0px}.module.r2,.moduleInner.r2{ top:200px}.module.r3,.moduleInner.r3{ top:400px}.module.r4,.moduleInner.r4{ top:600px}.module.r5,.moduleInner.r5{ top:800px}.module.r6,.moduleInner.r6{ top:1000px}.module.r7,.moduleInner.r7{ top:1200px}.module.r8,.moduleInner.r8{ top:1400px}.module.r9,.moduleInner.r9{ top:1600px}.module.r10,.moduleInner.r10{ top:1800px}.module.r11,.moduleInner.r11{ top:2000px}.module.r12,.moduleInner.r12{ top:2200px}.module.r13,.moduleInner.r13{ top:2400px}.module.r14,.moduleInner.r14{ top:2600px}.module.r15,.moduleInner.r15{ top:2800px}.module.r16,.moduleInner.r16{ top:3000px}.module.r17,.moduleInner.r17{ top:3200px}.module.r18,.moduleInner.r18{ top:3400px}.module.r19,.moduleInner.r19{ top:3600px}.module.r20,.moduleInner.r20{ top:3800px}.module.r21,.moduleInner.r21{ top:4000px}.module.r22,.moduleInner.r22{ top:4200px}.module.r23,.moduleInner.r23{ top:4400px}.module.r24,.moduleInner.r24{ top:4600px}.module.r25,.moduleInner.r25{ top:4800px}.module.r26,.moduleInner.r26{ top:5000px}.module.r27,.moduleInner.r27{ top:5200px}.module.r28,.moduleInner.r28{ top:5400px}.module.r29,.moduleInner.r29{ top:5600px}.module.r30,.moduleInner.r30{ top:5800px}.csstransitions #page.home .module .moduleInner.out .imgWrapper{	-webkit-transform:translateX(250px);	-moz-transform:translateX(250px);	-ms-transform:translateX(250px);	-o-transform:translateX(250px);	transform:translateX(250px)}.no-csstransitions.csstransforms #page.home .module .moduleInner.out .imgWrapper{	left:250px}.csstransitions .module .moduleInner .imgWrapper.next{	-webkit-transform:translateX(-200px);	-moz-transform:translateX(-200px);	-ms-transform:translateX(-200px);	-o-transform:translateX(-200px);	transform:translateX(-200px)}.csstransitions .module .moduleInner .imgWrapper.prev{	-webkit-transform:translateX(250px);	-moz-transform:translateX(250px);	-ms-transform:translateX(250px);	-o-transform:translateX(250px);	transform:translateX(250px)}.no-csstransitions .module .moduleInner .imgWrapper.next{	left:-200px}
.module.textModule{font-size:10pt;color:#999999}.module.textModule .inner hr{	width:25px;	text-align:center;	border:none;	border-top:1px solid #D7D7D7;	margin:0.5em auto}.module.textModule a:link{ color:#999999}.module.textModule a:visited{ color:#999999}.module.textModule a:hover{ color:#FFA647}.module.textModule a:active{ color:#FFA647}.module.textModule .inner{ margin:0 auto}.module.textModule p.small{ font-size:8pt;line-height:1em}.module.textModule p.heavy{font-family:'Helvetica Neue W01 87 Hv Cn','HelveticaNeueW01-87HvCn 692734';font-size:10pt;font-style:normal;text-transform:uppercase;margin:0px 23px}.module.textModule.long .header{ display:none}.module.textModule.long.withHeader .header{	display:block;	padding-bottom:20px;	height:18px;	overflow:hidden}.module.textModule.long p{margin-top:1em;font-size:13px;color:#656565;line-height:17px}.module.textModule.long p:first-child{margin-top:0em}#page .module.textModule.long .scrollWrapper{overflow-x:hidden;overflow-y:scroll;	height:100%}#footerRightWrapper .module.textModule p{ line-height:1.1em}#footerRightWrapper .module.textModule.long .header{	font-family:'Helvetica W01 Bd Cn';	font-size:14px;	color:#666666;	padding-bottom:0px}.module.textModule .inner .inner{ position:absolute;top:50%;left:50%;margin-left:-49px;margin-top:-49px;width:96px;height:96px}.module.textModule span.month{ position:absolute;top:22px;left:20px;color:#ffffff;font-family:'Helvetica Neue W01 87 Hv Cn','HelveticaNeueW01-87HvCn 692734'}.module.textModule span.dayNumber{ position:absolute;bottom:22px;right:20px;color:#ffffff;font-family:'Helvetica Neue W01 87 Hv Cn','HelveticaNeueW01-87HvCn 692734'}#page .module.textModule.long.w2 .moduleInner{	width:340px;	padding-left:30px;	padding-right:30px}#page .module.textModule.long.w3 .moduleInner{	width:526px;	padding-left:37px;	padding-right:37px}#page .module.textModule.long.h1 .moduleInner{	height:140px;	padding-top:30px;	padding-bottom:30px}#page .module.textModule.long.h2 .moduleInner{	height:340px;	padding-top:30px;	padding-bottom:30px}#page .module.textModule.long.h3 .moduleInner{	height:526px;	padding-top:37px;	padding-bottom:37px}#page .module.textModule.long.w2 .scrollWrapper{ width:320px}#page .module.textModule.long.w3 .scrollWrapper{ width:506px}#page .module.textModule.long.h1.withHeader .scrollWrapper{ height:103px}#page .module.textModule.long.h2.withHeader .scrollWrapper{ height:305px}#page .module.textModule.long.h3.withHeader .scrollWrapper{ height:491px}
.module.refreshModule .moduleInner{ background-color:#FFF}.module.refreshModule:hover .moduleInner{ background-color:#CCC}.csstransitions .module.refreshModule .moduleInner{-webkit-transition:background-color 0.2s linear;-moz-transition:background-color 0.2s linear;-o-transition:background-color 0.2s linear;transition:background-color 0.2s linear}.module.refreshModule .refreshArrow{	width:100%;	height:100%;	background-image:url("/images/trans_filler.gif")}.module.refreshModule .refreshArrow img{	padding:25px;	position:absolute;	left:50%;	top:50%;	margin-top:-50px;	margin-left:-31px}
.module.contactPanel{ z-index:0}
.module.contactPanel a:link{ color:#898989}
.module.contactPanel a:visited{ color:#898989}
.module.contactPanel a:hover{ color:#FFA647}
.module.contactPanel a:active{ color:#FFA647}

.module.contactPanel .moduleInner{ background:none}
.module.contactPanel .panelInner
{
position:absolute;
border:10px solid #CCCCCC;
background-color:#FFFFFF;
z-index:100;
}
.opacity .module.contactPanel .panelInner.out{ opacity:0}
.no-opacity .module.contactPanel .panelInner.out{ display:none}

.module.contactPanel .panelInner a.closeButton
{
position:absolute;
right:60px;
top:20px;
display:inline-block;
}
.module.contactPanel a.closeButton img
{
position:absolute;
left:0px;
top:0px;
}
.module.contactPanel a.closeButton:hover{ padding-top:0px}

.no-opacity .module.contactPanel a.closeButton img.over{ display:none}
.no-opacity .module.contactPanel a.closeButton:hover img.over{ display:block}

.opacity .module.contactPanel a.closeButton img.over{ opacity:0}
.opacity .module.contactPanel a.closeButton:hover img.over{ opacity:1}

.module.contactPanel .panelInner .contactWrapper
{
width:100%;
height:100%;
}

.module.contactPanel .panelInner h1
{
font-size:18px;
font-weight:normal;
color:#999999;
margin-left:28px;
margin-bottom:55px;
}

.module.contactPanel .panelInner .contactInfo
{
float:left;
width:200px;
margin-left:38px;
}
.module.contactPanel .panelInner .contactInfo p
{
margin-bottom:2px;
color:#6F6F6B;
}

.module.contactPanel .panelInner .contactInfo .type{ font-size:14px}
.module.contactPanel .panelInner .contactInfo .name
{
font-family:'Helvetica W01 Bold';
font-size:18px;
}
.module.contactPanel .panelInner .contactInfo .phone,
.module.contactPanel .panelInner .contactInfo .email{ font-size:13px}

.module.contactPanel .panelInner .contactInfo .emailLink
{
display:block;
width:33px;
height:33px;
margin-top:8px;
}

.csstransitions .module.contactPanel .panelInner
{
-webkit-transition:opacity 0.3s ease-out;
-moz-transition:opacity 0.3s ease-out;
-o-transition:opacity 0.3s ease-out;
transition:opacity 0.3s ease-out;
}

.module.contactPanel a.closeButton img
{
-webkit-transition:opacity 0.25s ease-out;
-moz-transition:opacity 0.25s ease-out;
-o-transition:opacity 0.25s ease-out;
transition:opacity 0.25s ease-out;
}

.csstransitions .module.contactPanel .moduleInner .imgWrapper
{
-webkit-transition:-webkit-transform 0.3s ease-out;
-moz-transition:-moz-transform 0.3s ease-out;
-o-transition:-o-transform 0.3s ease-out;
transition:transform 0.3s ease-out;
}


.module.contactPanel .panelInner
{
width:714px;
height:184px;
padding:98px 48px;
}
.module.contactPanel .moduleInner,
.module.contactPanel .moduleInner .imgWrapper{ width:200px;height:200px}

.no-csstransitions .module.contactPanel .moduleInner .imgWrapper.prev{ left:250px}



.module.twitterModule nav{ top:0px}.module.newsModule .moduleInner .imgWrapper{background-color:#F4F4F4;color:#8B8B8B}.module.newsModule header.moduleHeader{position:absolute;left:20px;top:20px;z-index:1000}.module.newsModule header.moduleHeader h1{color:#6B6B6B;font-family:'Helvetica W01 Bd Cn';font-style:normal;font-weight:normal;font-size:10pt}.module.newsModule .more{position:absolute;left:20px;bottom:20px;font-size:10pt;z-index:1000}.module.newsModule article h1{color:#666666;font-size:8pt;font-weight:normal;font-style:normal;font-family:'Diverda Serif W01 Bold'}.module.newsModule a:link{ color:#6B6B6B}.module.newsModule a:visited{ color:#6B6B6B}.module.newsModule a:hover{ color:#FFA647}.module.newsModule a:active{ color:#FFA647}.module.newsModule time{color:#C3C3C3;font-family:"Diverda Serif W01 Light";font-style:normal}.module.newsModule nav{ bottom:0px}	.module.newsModule header.moduleHeader	{		left:20px;		top:20px;	}
.module .rollover{	
  width:100%;	
  height:100%;	
  position:absolute;	
  left:0;	
  top:0;	
  z-index:1000
}
.module .rollover p{ 
  margin:0 20px;
  line-height:1em
}
.module .rollover .overlay{	
  width:100%;	
  height:100%;	
  position:absolute;	
  left:0;	
  top:0;	
  z-index:0
}.csstransitions.rgba .module .rollover .overlay{ background-color:rgba(0,0,0,0.75)}.csstransitions.opacity.no-rgba .module .rollover .overlay{ opacity:0.75}.opacity .module .rollover{ opacity:0}.csstransitions.opacity .module .rollover:hover{ opacity:1}.no-csstransitions.no-opacity .module .rollover{	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";	filter:alpha(opacity=0)}.rgba .module .rollover .overlay{	background-color:rgba(0,0,0,0.75)}.no-rgba.opacity .module .rollover .overlay{	background-color:#000;	opacity:0.75}.no-rgba.no-opacity.directxfilters .module .rollover .overlay{	background-image:url("/images/trans_filler.gif");	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000)";	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000)}.no-rgba.no-opacity.no-directxfilters .module .rollover .overlay{	background-color:#000}.no-opacity .module .rollover .outer{	-ms-filter:"progid:DXImageTransform.Microsoft.Chroma(color='black')";	filter:progid:DXImageTransform.Microsoft.Chroma(color='black')}.csstransitions .module .rollover{-webkit-transition:opacity 0.5s ease-out;-moz-transition:opacity 0.5s ease-out;-o-transition:opacity 0.5s ease-out;transition:opacity 0.5s ease-out}
.module.imageModule .moduleInner .imgWrapper img,.module.instagramModule .moduleInner .imgWrapper img{	position:absolute;	left:0px;	top:0px}.module.imageModule .moduleInner .imgWrapper,.module.instagramModule .moduleInner .imgWrapper{	position:absolute;	overflow:hidden;	left:0px;	top:0px;	z-index:20}.module.imageModule .moduleInner .imgWrapper.next,.module.instagramModule .moduleInner .imgWrapper.next{	z-index:1}.module.imageModule .moduleInner .imgWrapper.prev,.module.instagramModule .moduleInner .imgWrapper.prev{	z-index:50}.module.instagramModule .rollover p.small{	color:#949393;	font-size:11px}.module.instagramModule .rollover p.heavy{	color:#FFF;	font-family:'Helvetica W01 Bold';	font-size:16px;	line-height:22px;	text-transform:uppercase}.module.instagramModule .rollover img{ margin-top:8px}	.module.imageModule.w1 img{ width:200px}	.module.imageModule.w2 img{ width:400px}	.module.imageModule.w3 img{ width:600px}	.module.imageModule.w4 img{ width:800px}	.module.imageModule.w5 img{ width:1000px}	.module.imageModule.h1 img{ height:200px}	.module.imageModule.h2 img{ height:400px}	.module.imageModule.h3 img{ height:600px}	.module.imageModule.h4 img{ height:800px}	.module.imageModule.h5 img{ height:1000px}	.module.imageModule.h6 img{ height:1200px}	.module.imageModule.h7 img{ height:1400px}	.module.imageModule.h8 img{ height:1600px}	.module.imageModule.h9 img{ height:1800px}	.module.imageModule .moduleInner	{		width:200px;		height:200px;	}	.module.imageModule .moduleInner.c1 img{ left:0px}	.module.imageModule .moduleInner.c2 img{ left:-200px}	.module.imageModule .moduleInner.c3 img{ left:-400px}	.module.imageModule .moduleInner.c4 img{ left:-600px}	.module.imageModule .moduleInner.c5 img{ left:-800px}	.module.imageModule .moduleInner.r1 img{ top:0px}	.module.imageModule .moduleInner.r2 img{ top:-200px}	.module.imageModule .moduleInner.r3 img{ top:-400px}	.module.imageModule .moduleInner.r4 img{ top:-600px}	.module.imageModule .moduleInner.r5 img{ top:-800px}	.module.imageModule .moduleInner.r6 img{ top:-1000px}	.module.imageModule .moduleInner.r7 img{ top:-1200px}	.module.imageModule .moduleInner.r8 img{ top:-1400px}	.module.imageModule .moduleInner.r9 img{ top:-1600px}	.module.instagramModule.w1 .moduleInner .imgWrapper img{ width:225px;left:-10px}	.module.instagramModule.w2 .moduleInner .imgWrapper img{ width:450px;left:-20.5px}	.module.instagramModule.w3 .moduleInner .imgWrapper img{ width:675px;left:-31px}	.module.instagramModule.w4 .moduleInner .imgWrapper img{ width:900px;left:-41px}	.module.instagramModule.w5 .moduleInner .imgWrapper img{ width:1125px;left:-51.5px}	.module.instagramModule.h1 .moduleInner .imgWrapper img{ height:225px;top:-12px}	.module.instagramModule.h2 .moduleInner .imgWrapper img{ height:450px;top:-23.5px}	.module.instagramModule.h3 .moduleInner .imgWrapper img{ height:675px;top:-35px}	.module.instagramModule.h4 .moduleInner .imgWrapper img{ height:900px;top:-47px}	.module.instagramModule.h5 .moduleInner .imgWrapper img{ height:1125px;top:-59px}
.module.legalPanel{ z-index:0}.module.legalPanel a:link{ color:#898989}.module.legalPanel a:visited{ color:#898989}.module.legalPanel a:hover{ color:#FFA647}.module.legalPanel a:active{ color:#FFA647}.module.legalPanel .moduleInner{ background:none}.module.legalPanel .panelInner{	position:absolute;	border:10px solid #CCCCCC;	background-color:#FFFFFF;	z-index:100}.opacity .module.legalPanel .panelInner.out{ opacity:0}.no-opacity .module.legalPanel .panelInner.out{ display:none}.module.legalPanel .panelInner a.closeButton{	position:absolute;	right:60px;	top:20px;	display:inline-block}.module.legalPanel a.closeButton img{position:absolute;left:0px;top:0px}.module.legalPanel a.closeButton:hover{ padding-top:0px}.no-opacity .module.legalPanel a.closeButton img.over{ display:none}.no-opacity .module.legalPanel a.closeButton:hover img.over{ display:block}.opacity .module.legalPanel a.closeButton img.over{ opacity:0}.opacity .module.legalPanel a.closeButton:hover img.over{ opacity:1}.module.legalPanel .panelInner .scrollWrapper{	width:684px;	height:219px}.module.legalPanel .panelInner h1{	font-size:18px;	font-weight:normal;	color:#999999;	margin-left:0px;	margin-bottom:45px}.module.legalPanel .panelInner p{	font-size:12px;	color:#666666;	margin-bottom:1em}.csstransitions .module.legalPanel .panelInner{-webkit-transition:opacity 0.3s ease-out;-moz-transition:opacity 0.3s ease-out;-o-transition:opacity 0.3s ease-out;transition:opacity 0.3s ease-out}.module.legalPanel a.closeButton img{-webkit-transition:opacity 0.25s ease-out;-moz-transition:opacity 0.25s ease-out;-o-transition:opacity 0.25s ease-out;transition:opacity 0.25s ease-out}.csstransitions .module.legalPanel .moduleInner .imgWrapper{-webkit-transition:-webkit-transform 0.3s ease-out;-moz-transition:-moz-transform 0.3s ease-out;-o-transition:-o-transform 0.3s ease-out;transition:transform 0.3s ease-out}.module.legalPanel .panelInner{	width:684px;	height:284px;	padding:48px 48px}.module.legalPanel .moduleInner,.module.legalPanel .moduleInner .imgWrapper{ width:200px;height:200px}.no-csstransitions .module.legalPanel .moduleInner .imgWrapper.prev{ left:250px}
.module.feedModule .itemList{position:relative;width:100%;height:100%;overflow:hidden}.module.feedModule .itemList .item{position:absolute;top:0px;width:100%;height:100%}.module.feedModule .inner{ text-align:left}.module.feedModule .inner p,.module.feedModule .inner article{ line-height:1.2em}.module.feedModule .item time{ line-height:1.3em}.module.feedModule nav{position:absolute;right:0px;z-index:1000;background:#898989;line-height:0px;font-size:0px;width:69px;height:35px}.module.feedModule nav a,.module.feedModule nav a img{	position:absolute;	width:34px;	height:35px;	top:0px}.module.feedModule nav a.prev{ left:0px}.module.feedModule nav a.next{ right:0px}.csstransitions .module.feedModule .itemList .item.tx{-webkit-transition:left 0.75s ease-out;-moz-transition:left 0.75s ease-out;-o-transition:left 0.75s ease-out;transition:left 0.75s ease-out}	.module.feedModule .inner{ margin:0 20px}
.module.workModule .moduleInner .imgWrapper{	
  position:absolute;	overflow:hidden;	left:0px;	top:0px;	z-index:20
}
.module.workModule .moduleInner .imgWrapper.next{ z-index:1}.module.workModule .moduleInner .imgWrapper.prev{ z-index:50}.module.workModule .moduleInner img{ position:absolute;left:0px;top:0px}
.module.workModule .rollover p.media{ 
  color:#000009
}
.module.workModule .rollover .client{	
  color:#FFFFFF;	
  font-family:'Helvetica W01 Bold';	
  margin-top:5px;	
  margin-bottom:5px
}
.module.workModule .rollover .campaign{ 
  color:#000009
}
.module.workModule.w1 .rollover p.media{ 
  font-size:11px
}
.module.workModule.w1 .rollover .client{ 
  font-size:18px
}
.module.workModule.w1 .rollover .campaign{ 
  font-size:14px
}
.module.workModule.w2 .rollover p.media{ 
  font-size:17px
}
.module.workModule.w2 .rollover .client{
   font-size:30px
}
.module.workModule.w2 .rollover .campaign{ 
  font-size:17px
}
.module.workModule .shim{	
  width:100%;	height:100%;	position:absolute;	left:0px;	top:0px;	z-index:9999;	display:none;	background-image:url("http://www.rodgerstownsend.com/images/trans_filler.gif")
}
.module.workModule.hide .shim{ 
  display:block
}
.csstransitions.opacity .module.workModule.hide .moduleInner{ opacity:0}.csstransitions .module.workModule .moduleInner{-webkit-transition:-webkit-transform 1.5s ease-in,opacity 0.5s ease-out;-moz-transition:-moz-transform 1.5s ease-in,opacity 0.5s ease-out;-o-transition:-o-transform 1.5s ease-in,opacity 0.5s ease-out;transition:transform 1.5s ease-in,opacity 0.5s ease-out}	.module.workModule .moduleInner,	.module.workModule .moduleInner img	{		width:200px;		height:200px;	}
.module.twitterModule{ z-index:50}.module.twitterModule .moduleInner.in{ overflow:visible}.module.twitterModule .moduleInner .imgWrapper{overflow:visible;background-color:#F4F4F4;color:#666666}.module.twitterModule a,.module.twitter .tag{ color:#FFA647}.module.twitterModule time{ color:#BBBBBB}
.module.twitterModule .username{
  color:#6B6B6B;
  font-family:Menlo;
  font-size:12px;
  font-style:normal;
  text-transform:uppercase;
  position:absolute;
  top: 60px;
  z-index:100;
}.module.twitterModule .username a:link{ 
  color:#6B6B6B
}.module.twitterModule .username a:visited{
   color:#6B6B6B
}.module.twitterModule .username a:hover{ 
  color:#FFA647
}.module.twitterModule .username a:active{ 
  color:#FFA647
}.module.twitterModule nav{ top:0px}.module.twitterModule .tri{position:absolute;left:-10px;top:90px}#footerRightWrapper .module.twitterModule .username{ display:none}#footerRightWrapper .module.twitterModule .itemList .item{	padding-bottom:10px;	border-bottom:1px solid #eee;	margin-bottom:10px;	height:auto;	width:100%;	position:relative;	float:left;	left:0 !important}#footerRightWrapper .module.twitterModule .itemList .item.last{ border-bottom:none}#footerRightWrapper .module.twitterModule .itemList .item p{	margin:0;	line-height:1.1em;	font-size:10pt}#footerRightWrapper .module.twitterModule .itemList .item a{ color:#FFA647}#footerRightWrapper .module.twitterModule .moduleInner .imgWrapper{ background:none}#footerRightWrapper .module.twitterModule .inner{ margin:0}#footerRightWrapper .moduleInner{	height:auto;	width:auto;	background:none}	.module.twitterModule .username{ left:20px;bottom:17px}