* {
  margin: 10px;
  padding: 5px;
}
h3{
	font: bold;
	font-size: 30px;
	color: black;
  position: relative;
  left: 45%;
}

h4{
  font-size: 15px;
  position: relative;
  left: 20px;
}
h5{
  color: ##FF6347;
  font-size: 14px;
  font: italic;
}

id {
  font: bold;
  font-family: Georgia;
  font-size: 20px;
  position: relative;
  left: 40%;
}

p{
  font-size: 13px;
  position: relative;
  left: 20px;
  line-height: 90%;
}
img{
  max-width: 150px;
  vertical-align: middle;
  position: relative;
  left: 20%;
}

.bio{
  margin: auto;
  width: 70%;
  background-color:#d0eeee;
}
.photo{
  margin: auto;
  width: 70%;
}